<% include header.ejs %>
  
  <div class="container">
  
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <section class="site-section" id="section-about">
        <div class="container">
          <div class="row mb-5 align-items-center">
            <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
              <img src="https://troyli.onrender.com/image_1.jpg" alt="Image placeholder" class="img-fluid">
            </div>
            <div class="col-lg-5 pl-lg-5">
              <div class="section-heading">
                <h2><strong>Troy</strong> / Tian Li</h2>
              </div>
              <p class="lead">Over 20 years of experience in the IT industry. Have a strong JAVA object-oriented programming background, master the MVC development mode; be good at website distributed system development, performance optimization;
                </p>
              <p class="mb-5  ">With more than ten years of experience in technology R&D and management of the top three media groups in China, he is very familiar with various technical solutions for news websites, CMS systems, SEO optimization, content mining, data analysis and other technologies, and has managed hundreds of servers.  
              <p>
                <div class="btn btn-secondary mart-5">Apache</div>
                <div class="btn btn-secondary mart-5">Spring</div>
                <div class="btn btn-secondary mart-5">react</div>
                <div class="btn btn-secondary mart-5">Java</div>
                <div class="btn btn-secondary mart-5">HTML5</div>
                <div class="btn btn-secondary mart-5">PHP</div>
                <div class="btn btn-secondary mart-5">NodeJS</div>
                <div class="btn btn-secondary mart-5">Mysql</div>
                <div class="btn btn-secondary mart-5">...</div>
                <!-- <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
                <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a> -->
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <hr>
  
    <footer>
      <p>&copy; MillionShow Inc, 2013</p>
    </footer>
  
  </div> <!-- /container -->