<% include header.ejs %>
  
  <div class="container">
  
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <section class="site-section" id="section-contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="section-heading text-center">
                <h2>Contact <strong>Me</strong></h2>
              </div>
            </div>
    
            <ul class="site-contact-details">
              <li>
                <span class="text-uppercase">Email</span>
                litianstar@gmail.com
              </li>
              <li>
                <span class="text-uppercase">Phone</span>
                +1 437-7750527
              </li>
              <li>
                <span class="text-uppercase">linkedin</span>
                <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/tian-li-46a0a9242/">Here</a></li>
              </li>
              <li>
                <span class="text-uppercase">Address</span>
                Pickering ON, Canada
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <hr>
  
    <footer>
      <p>&copy; MillionShow Inc, 2013</p>
    </footer>
  
  </div> <!-- /container -->