
<% include header.ejs %>
<div class="container">
  <section class="site-hero" style="background-image: url(https://troyli.onrender.com/static/image_1.jpg);" id="section-home" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row intro-text align-items-center justify-content-center">
				<div class="col-md-10 text-center pt-5">
					<h1 class="site-heading site-animate">Hello, I'm Troy<strong class="d-block">Stay hungry，stay foolish     (Steve Jobs)</Steve></strong></h1>
					<strong class="d-block text-white text-uppercase letter-spacing">My Resume</strong>
				</div>
			</div>
		</div>
	</section>
  <hr>

  <% include footer.ejs %>

</div> <!-- /container -->