<% include header.ejs %>
  
  <div class="container">
  
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <section class="site-section" id="section-portfolio">
        <div class="container">
          <div class="row">
            <div class="section-heading text-center col-md-12">
              <h2>Project</h2>
            </div>
          </div>
          <!-- <div class="filters">
            <ul>
              <li class="active" data-filter="*">ALL</li>
              <li data-filter=".design">DESIGN</li>
              <li data-filter=".web">WEB</li>
              <li data-filter=".APP">APP</li>
              <li data-filter=".wechat">WECHAT</li>
            </ul>
          </div> -->
    
          <div class="filters-content">
            <div class="row grid">
              <div class="single-portfolio col-sm-4 all APP">
                <div class="relative">
                  <div class="thumb">
                    <div class="overlay overlay-bg"></div>
                    <img class="image img-fluid" src="https://troyli.onrender.com/pri-img-01.jpg" alt="">
                  </div>
                  <!-- <a href="http://about.allulgch.com/static/picture/p1.jpg" class="img-pop-up">  
                    <div class="middle">
                      <div class="text align-self-center d-flex"><img src="#" alt=""></div>
                    </div>
                  </a>                                   -->
                </div>
                <div class="p-inner">
                  <h4>www.millionshow.com</h4>
                  <div class="cat">Design | NodeJS</div>
                </div>                                         
              </div>
              <div class="single-portfolio col-sm-4 all APP">
                <div class="relative">
                  <div class="thumb">
                    <div class="overlay overlay-bg"></div>
                    <img class="image img-fluid" src="https://www.eharmony.com/wp-content/uploads/2021/06/international-dating.jpg" alt="">
                  </div>
                  <!-- <a href="http://about.allulgch.com/static/picture/p1.jpg" class="img-pop-up">  
                    <div class="middle">
                      <div class="text align-self-center d-flex"><img src="#" alt=""></div>
                    </div>
                  </a>                                   -->
                </div>
                <div class="p-inner">
                  <h4>www.baihe.com</h4>
                  <div class="cat">Develop | WEB/APP</div>
                </div>                                         
              </div>
              <div class="single-portfolio col-sm-4 all typography wechat">
                <div class="relative">
                  <div class="thumb">
                    <div class="overlay overlay-bg"></div>
                    <img class="image img-fluid" src="https://www.globaltimes.cn/Portals/0/attachment/2023/2023-06-02/f314a1c8-f8f6-4edf-9842-53b8ff5766f0.jpeg" alt="">
                  </div>
                  <!-- <a href="http://about.allulgch.com/static/picture/p6.jpg" class="img-pop-up">  
                    <div class="middle">
                      <div class="text align-self-center d-flex"><img src="#" alt=""></div>
                    </div>
                  </a>                                 -->
                </div>
                <div class="p-inner">
                  <h4>www.globaltimes.cn</h4>
                  <div class="cat">Develop | Java/PHP</div>
                </div>
              </div>
                                      
              
              
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <hr>
  
    <footer>
      <p>&copy; MillionShow Inc, 2013</p>
    </footer>
  
  </div> <!-- /container -->