<% include header.ejs %>
  
  <div class="container">
  
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      <section class="site-section pb-0" id="section-services">
        <div class="container">
    
          <div class="row mb-4">
            <div class="col-md-12">
              <div class="section-heading text-center">
                <h2>Service</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 text-center mb-5">
              <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                <span class="icon">
                  <span class="icon-browser2"></span>
                </span>
                <h3 class="mb-4">Front-end develop</h3>
                <p>Over 10 years use Photoshop,sketch,Illustrator,Lightroom tools experince。</p>
                <!-- <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p> -->
              </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
              <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                <span class="icon">
                  <span class="icon-presentation"></span>
                </span>
                <h3 class="mb-4">Back-end develop </h3>
                <p>With more than ten years of experience in technology R&D and management of the top three media groups in China.</p>
                <!-- <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p> -->
              </div>
            </div>
            <div class="col-md-6 col-lg-4 text-center mb-5">
              <div class="site-service-item site-animate" data-animate-effect="fadeIn">
                <span class="icon">
                  <span class="icon-video2"></span>
                </span>
                <h3 class="mb-4">Architecture</h3>
                <p>My strength is building reliable and highly scalable IT system solutions and operating cost control.</p>
                <!-- <p><a href="#" class="site-link">Learn More <i class="icon-chevron-right"></i></a></p> -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <hr>
  
    <footer>
      <p>&copy; MillionShow Inc, 2013</p>
    </footer>
  
  </div> <!-- /container -->